h4 {
    text-align: center;
    background-color: rgba(45, 45, 45, 0.1);
    padding: 10px;
    font-size: 27px;
    text-transform : uppercase;

  }

/*

The text-transform property in CSS is used to change the appearance of text. It's a convenient way to make sure text on a webpage appears consistently, without having to change the text content of the actual HTML elements.

The following table shows how the different text-transformvalues change the example text "Transform me".

Value			Result
lowercase	"transform me"
uppercase	"TRANSFORM ME"
capitalize		"Transform Me"
initial		Use the default value
inherit		Use the text-transform value from the parent element
none		Default: Use the original text

*/