/*

To change the scale of an element, CSS has the transform property, along with its scale() function. The following code example doubles the size of all the paragraph elements on the page:

p {
  transform: scale(2);
}


*/


  #ball1 {
    left: 20%;
    transform:scale(1.5);
  }
  #ball2 {
    left: 65%;
    transform:scale(1.5);
  }
